<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }/bcosv}/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
    <li><a href="{{ site.github.url }/bcosv}/">Home</a></li>
    <li><a href="{{ site.github.url }/bcosv}/about">About</a></li>
    <li><a href="{{ site.github.url }/bcosv}/Doc/mechanics/">3D Models</a></li>
    <li><a href="{{ site.github.url }/bcosv}/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="http://bootcamposv.github.io/bcosv"></a></li>
   </ul>
  </footer>
  </body>

</html>
